.thumbnail {
	padding: 0;
}

.thumbnail img {
	width: 100%;
}

.thumbnail .caption-full {
	padding: 12px;
}

.delete-form {
	display: inline;
}

#our-spaces {
	padding-bottom: 10px;
}

@media (min-width: 576px) {
	#float-sm-right {
		float: right;
	}
}

@media (max-width: 576px) {
	#float-sm-right {
		width: 200px;
		padding-top: 10px;
	}
}

@media (min-width: 992px) {
	#float-lg-right {
		float: right;
	}
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}